<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baya Plus | Dashboard</title>
    <link rel="stylesheet" href="./styles/index.css">
    <script async src="./scripts/index.js"></script>
</head>
<body>
    <!-- left-navbar starts here -->
    <div class="left-nav">
        <div class="logo">
           <p>Baya</p><span>plus</span>
        </div>
        <div class="links">
            <a href="#" class="active"><img src="./assets/bootstrap-icons-1.13.1/house.png" alt="">Home</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/search.png" alt=""> Search</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/database.png" alt=""> Browse</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/broadcast.png" alt=""> Radio</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/book.png" alt=""> Library</a>
            <hr>
            <h5>Your Library</h5>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/play-list.png" alt=""> Playlist</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/disc.png" alt=""> Albums</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/person.png" alt=""> Artists</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/music-note.png" alt=""> Songs</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/like.png" alt=""> Liked Songs</a>
        </div>
    </div>
    <!-- left-navbar ends here -->

    <!-- main page starts here -->
    <div class="main">
        <!-- top-navbar starts here -->
        <div class="top-nav">
            <div class="srch">
                <img src="./assets/bootstrap-icons-1.13.1/search.png" alt="">
                <input type="search" id="searchInput" name="" placeholder="Search songs, artists, album....">
            </div>
        </div>
        <!-- top-navbar ends here -->

        <!-- greeting bar start here -->
        <div class="greetings">
            <h4>
                Good evening
            </h4>
            <span>Enjoy the music you love</span>
        </div>
        <!-- greeting bar ends here -->

        <div class="scroll-box">
            <h6>New Release</h6>
            <h3>Not Worth It</h3>
            <span>The new albun from: Neo Wilde</span>
            <strong>Out now</strong>
            <a href=""><img src="./assets/bootstrap-icons-1.13.1/play-fill.svg" alt=""> Listen Now</a>
        </div>

        <div class="songs">
            <div class="banner">
                <p>Made for you</p>
            </div>
            <div class="song-holder">
                <div class="song-card" data-name="mix1">
                    <div class="img">
                        <img src="./assets/NeoWilde.jpg" alt="">
                    </div>
                    <div class="credits">
                        <p>Daily Mix 1</p>
                        <h5>Caseay, Tonni, Neo Wilde</h5>
                        <a href="#"><img src="./assets/bootstrap-icons-1.13.1/play.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="trending-artists">
            <div class="artist-card">
                <div class="img">
                    <img src="./assets/NeoWilde.jpg" alt="">
                </div>
                <div class="data">
                    <p>Love 'em all</p>
                    <h5>6ixStar</h5>
                </div>
            </div>

            <div class="artist-card">
                <div class="img">
                    <img src="./assets/NeoWilde.jpg" alt="">
                </div>
                <div class="data">
                    <p>Love 'em all</p>
                    <h5>6ixStar</h5>
                </div>
            </div>
            
        </div>

    </div>
    <!-- main page ends here -->

    <!-- right-navbar starts here -->
    <div class="right-nav">
        <div class="actual-play">
            <div class="song">
                <img src="./assets/lonely.png" alt="song cover album">
                <div class="song-details">
                    <div class="artist-info">
                        <p>Lonely</p>
                        <span>Caseay</span>
                    </div>
                    <div class="song-level">
                        <div class="level-played"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcome-play"></div>
    </div>
    <!-- right-navbar ends here -->

    <!-- bottom-navbar starts here -->
    <div class="bottom-nav">
        <!-- user music portal starts here -->
        <div class="holder">
            <img src="./assets/lonely.png" alt="song cover album" class="img">
            <div class="dtls">
                <strong>Lonely</strong>
                <span>Caseay</span>
            </div>
            <div class="liker">
                <img src="./assets/bootstrap-icons-1.13.1/like.png" alt="">
            </div>
        </div>
        <!-- user music portal ends here -->

        <!-- user action start here -->
         <div class="action">
            <img src="./assets/bootstrap-icons-1.13.1/shuffle.png" class="shuffle" alt="">
            <img src="./assets/bootstrap-icons-1.13.1/next.png" class="act" alt="">
            <img src="./assets/bootstrap-icons-1.13.1/player.png" class="player" alt="">
            <img src="./assets/bootstrap-icons-1.13.1/prev.png" class="act"  alt="">
            <img src="./assets/bootstrap-icons-1.13.1/loop.png " class="loop" alt="">
         </div>
         <!-- user action ends here -->

         <!-- user volume control start's here -->
          <div class="vol-ctrl">
            <img src="./assets/bootstrap-icons-1.13.1/playlist.png" alt="">
            <img src="./assets/bootstrap-icons-1.13.1/volume.png" alt="">
            <input type="range" name="" id="">

          </div>
          <!-- user volume control ends here -->
    </div>
    <!-- bottom-navbar ends here -->
</body>
</html>