<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baya Plus | Dashboard</title>
    <link rel="stylesheet" href="./styles/index.css">
    <script async src="./scripts/indeex.js"></script>
</head>
<body>
    <!-- left-navbar starts here -->
    <div class="left-nav">
        <div class="logo">
           <p>Baya</p><span>plus</span>
        </div>
        <div class="links">
            <a href="#" class="active"><img src="./assets/bootstrap-icons-1.13.1/house.svg" alt="">Home</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/search.svg" alt=""> Search</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/database.svg" alt=""> Browse</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/broadcast.svg" alt=""> Radio</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/book.svg" alt=""> Library</a>
            <hr>
            <h5>Your Library</h5>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/play-list.png" alt=""> Playlist</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/disc.svg" alt=""> Albums</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/person.svg" alt=""> Artists</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/music-note.svg" alt=""> Songs</a>
            <a href="#"><img src="./assets/bootstrap-icons-1.13.1/heart.svg" alt=""> Liked Songs</a>
        </div>
    </div>
    <!-- left-navbar ends here -->

    <!-- main page starts here -->
    <div class="main">
        <!-- top-navbar starts here -->
        <div class="top-nav"></div>
        <!-- top-navbar ends here -->

    </div>
    <!-- main page ends here -->

    <!-- right-navbar starts here -->
    <div class="right-nav">
        <div class="actual-play">
            <div class="song">
                <img src="./assets/lonely.png" alt="song cover album">
                <div class="song-details">
                    <div class="artist-info">
                        <p>Lonely</p>
                        <span>Caseay</span>
                    </div>
                    <div class="song-level">
                        <div class="level-played"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcome-play"></div>
    </div>
    <!-- right-navbar ends here -->

    <!-- bottom-navbar starts here -->
    <div class="bottom-nav">
        <!-- user music portal starts here -->
        <div class="holder">
            <img src="./assets/lonely.png" alt="song cover album" class="img">
            <div class="dtls">
                <strong>Lonely</strong>
                <span>Caseay</span>
            </div>
            <img src="./assets/bootstrap-icons-1.13.1/heart.svg" alt="">
        </div>
        <!-- user music portal ends here -->

        <!-- user action start here -->
         <div class="action">
            <img src="./assets/bootstrap-icons-1.13.1/shuffle.svg" alt="">
            <i class="prev"></i>
            <img src="./assets/bootstrap-icons-1.13.1/pause-circle-fill.svg" alt="">
            <i class="next"></i>
            <i class="loop"></i>
         </div>
         <!-- user action ends here -->
    </div>
    <!-- bottom-navbar ends here -->
</body>
</html>