* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #0a0a08;
    color: #f7f7f7;
    display: flex;
    gap: 5px;
    padding-top: 8px;
}

span {
    color: #d4171b;
    background: #f7bb0d;
}

body .left-nav {
    background: #080808;
    color: #f7f7f7;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #d4171b; */
    align-items: center;
    /* justify-content: center; */

    .logo {
        width: 90%;
        height: 60px;
        /* border: 1px solid red; */
        padding-top: 8px;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        
        p {
            font-size: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 300;
            color: #d4171b;
        }

        span {
            background: transparent;
            color: #f7bb0d;
            font-size: 25px;
            white-space: 10px;
            font-style: italic;
            font-weight: 600;
            padding-top: 20px;
        }
    }

    .links {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 10px;

        .active {
            background: #d4171b;
            color: #e0e0e0;
            text-decoration: none;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        a {
            width: 100%;
            height: 40px;
            background: transparent;
            color: #f7f7f7;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            gap: 10px;
            padding: 8px;
            display: flex;
            padding-left: 15px;
            border-radius: 8px;
            img {
                width: 25px;
                height: 25px;
            }
        }
        
        h5 {
            color: #e0e0e0;
            padding-left: 15px;
        }
    }
}

body .main {
    background: #0a0a08;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 69%;
    /* border: 1px solid #d4171b; */
    height: 100%;
    border-radius: 8px;
}

body .right-nav {
    background: #080808;
    color: #f7f7f7;
    width: 22%;
    height: 100%;
    display: flex;
    /* border: 1px solid #d4171b; */
    flex-direction: column;
    align-items: center;

    .actual-play {
        width: 97%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        .song {
            width: 95%;
            height: 80%;
            border-radius: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            gap: 5px;

            img {
                width: 80%;
                height: 75%;
                border-radius: 10px;
            }

            .song-details {
                display: flex;
                flex-direction: column;
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 25%;
                background: transparent;
                /* border: 1px solid white; */
                position: relative;
                z-index: 100;
                align-items: center;
                padding: 5px;

                .artist-info {
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    /* align-items: flex-start;
                    justify-content: left; */
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    p, span {
                        padding-left: 22px;
                    }

                    p {
                        font-size: 25px;
                        font-weight: 500;
                    }

                    span {
                        font-size: 12px;
                        background: transparent;
                        color: #e0e0e0;
                    }
                }

                .song-level {
                    width: 80%;
                    height: 4px;
                    background: #f7f7f7;
                    border-radius: 50px;

                    .level-played {
                        width: 60%;
                        height: 100%;
                        background: #f7bb0d;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}

body .bottom-nav {
    position: fixed;
    width: 100%;
    height: 90px;
    background: #0a0a08;
    border-top: 5px solid #d4171b;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

body .bottom-nav .holder {
    width: 30%;
    height: 98%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 10px;

    img {
        width: 20px;
        height: 20px;
    }
}

body .bottom-nav .holder img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

body .bottom-nav .holder .dtls {
    display: flex;
    flex-direction: column;
    gap: 5px;

    strong {
        font-size: 20px;
        font-weight: 100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    span {
        font-size: 13px;
        background: transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #e0e0e0;
    }
}