* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: #0a0a08;
    color: #f7f7f7;
    display: flex;
    gap: 5px;
    padding-top: 8px;
}

span {
    color: #d4171b;
    background: #f7bb0d;
}

body .left-nav {
    background: #080808;
    color: #f7f7f7;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #d4171b; */
    align-items: center;
    /* justify-content: center; */

    .logo {
        width: 90%;
        height: 60px;
        /* border: 1px solid red; */
        padding-top: 8px;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        
        p {
            font-size: 50px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 300;
            color: #d4171b;
        }

        span {
            background: transparent;
            color: #f7bb0d;
            font-size: 25px;
            white-space: 10px;
            font-style: italic;
            font-weight: 600;
            padding-top: 20px;
        }
    }

    .links {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 10px;

        .active {
            background: #d4171b;
            color: #e0e0e0;
            text-decoration: none;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        a {
            width: 100%;
            height: 40px;
            background: transparent;
            color: #f7f7f7;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            gap: 10px;
            padding: 8px;
            display: flex;
            padding-left: 15px;
            border-radius: 8px;
            img {
                width: 25px;
                height: 25px;
            }
        }
        
        h5 {
            color: #e0e0e0;
            padding-left: 14px;
        }
    }
}

body .main {
    background: #0a0a08;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    width: 69%;
    /* border: 1px solid #d4171b; */
    height: 100%;
    border-radius: 8px;
    overflow-y: scroll;
    /* scrollbar-width: none; */
    scroll-behavior: smooth;

    .top-nav {
        width: 100%;
        height: 50px;
        /* border-bottom: 1px solid red; */
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 5px;
        position: sticky;
        z-index: 1000;

        .srch {
            width: 350px;
            display: flex;
            height: 85%;
            border: 1px solid #090909;
            background: #090909;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 28px;
                height: 28px;
            }

            input {
                width: 90%;
                height: 95%;
                background: transparent;
                border: none;
                outline: none;padding-left: 10px;
                color: #d4171b;
            }
        }
    }

    .greetings {
        width: 100%;
        padding: 10px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        margin: 0;

        h4 {
            font-size: 35px;
            color: #f7f7f7;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        span {
            font-size: 15px;
            background: none;
            color: #7a7a7a;
            padding-left: 5px;
        }
    }

    .scroll-box {
        width: 95%;
        height: 400px;
        /* border: 1px solid red; */
        align-self: center;
        justify-self: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        justify-content: end;
        /* justify-content: last baseline; */
        align-items: baseline;
        background: url('../assets/NeoWilde.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        gap: 08px;
        line-height: 1;

        h6 {
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #f7bb0d;
        }

        h3 {
            font-size: 55px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #f7bb0d;
        }

        span {
            background: transparent;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            color: #f7f7f7;
        }

        a {
            width: 150px;
            height: 40px;
            border-radius: 50px;
            background: #f7bb0d;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-weight: 700;
            color: #080808;
        }
    }

    .songs {
        display: flex;
        width: 95%;
        height: auto;
        padding: 10px;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        /* border: 1px solid red; */
        padding-top: 10px;

        .banner {
            width: 100%;
            padding: 8px;
            justify-content: left;
            display: flex;
            /* border: 1px solid red; */
            align-self: center;
        }

        .song-holder {
            display: flex;
            /* border: 1px solid red; */
            gap: 15px;
            width: 100%;
            height: auto;
            padding: 10px;
            overflow-x: scroll;
            scrollbar-width: none;
            scroll-behavior: smooth;

            .song-card {
                width: 220px;
                height: 250px;
                /* border: 1px solid red; */
                border-radius: 10px;
                cursor: pointer;

                .img {
                    width: 100%;
                    height: 70%;
                    /* border: 1px solid red; */

                    img {
                        width: 100%;
                        height: 100%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }

                .credits {
                    width: 100%;
                    height: 30%;
                    /* border: 1px solid blue; */
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding: 5px;
                    gap: 10px;

                    p {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 600;
                        gap: 5px;
                        /* padding: 5px; */
                    }

                    h5 {
                        /* padding: 5px; */
                        color: #7a7a7a;
                    }

                    a {
                        width: 50px;
                        height: 50px;
                        background: #f7bb0d;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        justify-self: last baseline;
                        /* padding-bottom: 20px; */
                        top: 585px;
                        border-radius: 50%;
                        position: absolute;

                        img {
                            width: 50%;
                            height: 50%;
                        }
                    }
                }
            }

            .song-card:hover {
                box-shadow: 0px 0px 10px 0px #f7bb0d;
                transition: 0.9s ease-in-out;
                border-radius: 10px;
            }
        }
    }

    .trending-artists {
        width: 95%;
        height: auto;
        padding: 10px;
        display: flex;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        justify-self: center;
        align-self: center;

        .artist-card {
            width: 250px;
            height: 80px;
            border: 1px solid red;
            padding: 10px;
            display: flex;

            .img {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 60%;
                    height: 100%;
                }
            }

            .data {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                justify-content: center;
            }
        }
    }
}

body .right-nav {
    background: #080808;
    color: #f7f7f7;
    width: 22%;
    height: 100%;
    display: flex;
    /* border: 1px solid #d4171b; */
    flex-direction: column;
    align-items: center;

    .actual-play {
        width: 97%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;

        .song {
            width: 95%;
            height: 80%;
            border-radius: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            gap: 5px;

            img {
                width: 80%;
                height: 75%;
                border-radius: 10px;
            }

            .song-details {
                display: flex;
                flex-direction: column;
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 25%;
                background: transparent;
                /* border: 1px solid white; */
                position: relative;
                z-index: 100;
                align-items: center;
                padding: 5px;

                .artist-info {
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    /* align-items: flex-start;
                    justify-content: left; */
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                    p, span {
                        padding-left: 22px;
                    }

                    p {
                        font-size: 25px;
                        font-weight: 500;
                    }

                    span {
                        font-size: 12px;
                        background: transparent;
                        color: #e0e0e0;
                    }
                }

                .song-level {
                    width: 80%;
                    height: 4px;
                    background: #f7f7f7;
                    border-radius: 50px;

                    .level-played {
                        width: 60%;
                        height: 100%;
                        background: #f7bb0d;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}

body .bottom-nav {
    position: fixed;
    width: 100%;
    height: 65px;
    background: #0a0a08;
    border-top: 5px solid #722128;
    display: none;
    justify-content: space-between;
    bottom: 0;

    .action {
        display: flex;
        gap: 25px;
        width: 30%;
        height: 98%;
        /* border: 1px red solid; */
        align-items: center;
        justify-content: center;
        padding-right: 120px;

        img {
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .shuffle {
            width: 20px;
            height: 20px;
        }

        .loop {
            width: 30px;
            height: 30px;
        }

        .player {
            width: 70px;
            height: 70px;
        }


        .act {
            width: 30px;
            height: 30px;
        }
    }

    .vol-ctrl {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 16px;
        /* border: 1px solid red; */

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        input {
            width: 160px;
            height: 6px;
            /* background: #313131; */
            /* color: #ffdf1d; */
        }
    }
}

body .bottom-nav .holder {
    width: 30%;
    height: 98%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    /* border: 1px solid red; */
    gap: 20px;

    .liker {
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: transparent;

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    
}


body .bottom-nav .holder img {
    width: 10px;
    height: 10px;
    display: flex;
    padding: 5px;

    /* padding-left: 20px; */
}

body .bottom-nav .holder img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

body .bottom-nav .holder .dtls {
    display: flex;
    flex-direction: column;
    gap: 5px;

    strong {
        font-size: 20px;
        font-weight: 100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    span {
        font-size: 13px;
        background: transparent;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #e0e0e0;
    }
}